	  <div id="header" class="container">
		  <div class="row justify-content-md-center">
			  <div class="col"></div>
			  <div class="col-md-auto">
				<div id="header">
					<p class="display-1">{{.Header.Name}}</p>
						<ul class="list-inline">
							<li class="list-inline-item">{{.Header.Email}}</li>
							<li class="list-inline-item">{{.Header.Phone}}</li>
							<li class="list-inline-item">{{.Header.Website}}</li>
						</ul>
					<p class="lead">{{.Header.AboutMe}}</p>
				</div>
			</div>
			<div class="col"></div>
		</div>
	  </div>
