	<div id="education" class="container">
		<div class="row">
			<div class="col-md-auto">
				<p class="display-6">Education</p>
			</div>
			<div class="col"></div>
			<div class="col"></div>
		</div>

		{{range .Education}}
		<div class="row">
			<div class="col"><p class="h6">{{.SchoolName}}</p></div>
			<div class="row">
				<div class="col">
				{{if .MajorFocus}}
					{{.DegreeType}}, {{.Major}} - {{.MajorFocus}}, 
				{{else}}
					{{.DegreeType}} {{.Major}}, 
				{{end}}

				{{if .CurrentlyAttending}}
					{{.SchoolStartYear}} - Current 
				{{else}}
					{{.SchoolStartYear}} - {{.SchoolEndYear}}
				{{end}}
				</div>
			</div>
			<p>
		</div>
		{{end}}
	</div> <!-- education container -->
